.appBar{
    h2 {
        margin-top: 0;
        line-height: 42px;
    }

    .actions {
        text-align: right;
        text-decoration: underline;
        margin-right: 0 !important;
        margin-bottom: 0;
        background-color: transparent;
        color: #fff;
    }
}